<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FloorInfo" type="Tencent.Configurations.FloorInfoConfiguration, FaceTrackingSystem" />
    <section name="CameraInfo" type="Tencent.Configurations.CameraInfoConfiguration, FaceTrackingSystem" />
    <section name="PeopleGroupInfo" type="Tencent.Configurations.PeopleGroupInfoConfiguration, FaceTrackingSystem" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <appSettings>
    <!--<add key="ip" value="172.16.10.112" />-->
    <add key="ip" value="localhost" />
    <!--<add key="ip" value="localhost" />-->
    <add key="port" value="6060" />
    <add key="account" value="AdminClient2" />
    <add key="password" value="123456" />
    
    <!--<add key="nvr_ip" value="172.16.2.35" />-->
    <add key="nvr_ip" value="172.16.10.90" />
    <add key="nvr_port" value="8080" />
    <add key="nvr_account" value="Admin" />
    <add key="nvr_password" value="123456" />
    <add key="search_duration_seconds" value="600" />
    <add key="possible_companion_duration_seconds" value="5" />
    <add key="maximum_keep_faces" value="512" />
  </appSettings>

  <FloorInfo>
    <Floor number="1" name="一楼大厅" />
    <Floor number="7" name="七楼公司总部" />
  </FloorInfo>

  <CameraInfo>
    <!--<Camera name="CAM 01 Main Gate" sourceid="Camera01" type="0" X="923" Y="324" Angle="180" />
    <Camera name="CAM 02 Second Gate" sourceid="Camera02" type="0" X="923" Y="914" Angle="180" />-->
    <Camera floor="1" name="Camera01 Front Door Elevator" sourceid="Camera_02_02" type="1" X="720" Y="232" Angle="-90" />
    <Camera floor="1" name="Camera02 Front Door Indoor Entrance" sourceid="Camera_02_03" type="1" X="396" Y="244" Angle="-95" />
    <Camera floor="7" name="Camera03 Machines" sourceid="Camera_02_01" type="1" X="379" Y="325" Angle="-150" />
    <!--<Camera name="4号摄像头" sourceid="Camera04" type="0" X="203" Y="80" Angle="-30" />-->
    <Camera floor="7" name="Camera05 LeftWing Meeting Room" sourceid="Camera_02_04" type="1" X="281" Y="30" Angle="0" />
  </CameraInfo>

  <PeopleGroupInfo>
    <PeopleGroup name="VIP" color="Gold" glowcolor="Orange" />
    <PeopleGroup name="Blacklist" color="Red" glowcolor="DarkRed" />
    <PeopleGroup name="No Match" color="Black" glowcolor="Gold" />
  </PeopleGroupInfo>
</configuration>