<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CameraInfo" type="Tencent.Configurations.CameraInfoConfiguration, FaceTrackingSystem" />
    <section name="PeopleGroupInfo" type="Tencent.Configurations.PeopleGroupInfoConfiguration, FaceTrackingSystem" />
  </configSections>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="ip" value="172.16.10.4" />
    <add key="port" value="7070" />
      
    <add key="nvr_ip" value="172.16.2.35" />
    <add key="nvr_port" value="80" />
    <add key="nvr_account" value="Admin" />
    <add key="nvr_password" value="123456" />

    <add key="search_duration_seconds" value="300" />
    <add key="possible_companion_duration_seconds" value="5" />
  </appSettings>

  <CameraInfo>
    <!--<Camera name="CAM 01 Main Gate" sourceid="Camera01" type="0" X="923" Y="324" Angle="180" />
    <Camera name="CAM 02 Second Gate" sourceid="Camera02" type="0" X="923" Y="914" Angle="180" />-->

    <Camera name="1号摄像头很多別間公司的人的電梯" sourceid="Camera01" type="0" X="720" Y="232" Angle="-90" />
    <Camera name="2号摄像头有沙發的玄關" sourceid="Camera02" type="0" X="396" Y="244" Angle="-95" />
    <Camera name="3号摄像头很多電腦的機架" sourceid="Camera03" type="0" X="379" Y="325" Angle="-150" />
    <!--<Camera name="4号摄像头" sourceid="Camera04" type="0" X="203" Y="80" Angle="-30" />-->
    <Camera name="5号摄像头Jasmine的座位前面" sourceid="Camera05" type="0" X="281" Y="30" Angle="0" />
  </CameraInfo>

  <PeopleGroupInfo>
    <PeopleGroup name="VIP" color="Gold" glowcolor="Orange" />
    <PeopleGroup name="Blacklist" color="Red" glowcolor="DarkRed" />
    <PeopleGroup name="Stranger" color="Black" glowcolor="Gold" />
  </PeopleGroupInfo>

</configuration>